<header>
    <nav class="topbar">
        <a href="/" target="_top" class="topNotch"><div class="logo">TopNotch</div> </a>
        <div class="nav-links">
            <a href="/restaurants" target="_top">Restaurants</a>
        </div>
        {{#if show_auth}}
        <div class="auth-buttons">
            <a href="/login" target="_top"><button class="login-btn" >Log in</button></a>
            <a href="/register" target="_top"><button class="signup-btn">Sign Up</button></a>
        </div>
        {{/if}}

        {{#if logged_in}}
        <div class="header-img-profile">
            <a href="/profile/{{logged_user.id}}">
            <img src="{{logged_user.banner}}" class="header-avatar">
            </a>
        </div>
        <div class="auth-buttons">
            <a href="/" target="_top"> <button class="signout-btn">Log Out</button> </a>
        </div>
        {{/if}}
    </nav>
</header>