<form action="/search" method="get">
    <div class="search-bar">
        <img src="/common/search-icon.png" class="search-icon">
        <input type="search" name="q" placeholder="Search for your next meal">
        <button type="submit" style="display: none;"></button>
    </div>
</form>