.header {
    display: flex;
    flex-direction: row;
    background-color: #FFDE20;
    min-height: 20vh;
    padding: 60px 10%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    top: -10;
}