<section class="hero">
<div class="hero-text">
    <h1>Honest feedback, <span>no fluff.</span></h1>
    <p>Discover flavors worth savoring...</p>
    {{> search_bar}}
</div>
<div class="circle"></div>
<img src="/common/burger.png" alt="Burger" class="burger">
</section>