<section class="home-cards">
    <h2>Top of the Food Chain</h2>
    <p>Discover the top-rated spots that are winning hearts (and stomachs) this month. Rated by you, loved by all.</p>
    {{> cards}}
</section>