<!-- register.hbs file -->
{{> navigation}}
<div class="register-container">
    <div class="image-section"></div>
    <div class="reg-section">
        <div class="form-container">
            <h2>Register</h2>
            <form>
                {{> register/page_one}}
                {{> register/page_two}}
            </form>
        </div>
    </div>
</div>
{{> footer}}