<!-- user_profile.hbs file -->
{{> navigation}}
<div class="prof-container">
    {{> view/user_profile/details selected=selected}}
    {{> view/user_profile/filters}}
    {{> view/user_profile/reviews reviews=reviews}}
    {{> view/user_profile/comments comments=comments}}
    {{> view/user_profile/restaurant restaurants=restaurants}}
</div>
{{> footer}}