 <!-- user_profile.hbs file -->
{{> navigation}}

<div class="prof-container">
    {{> view/user_profile/details profile_user=profile_user selected=selected isOwnProfile=isOwnProfile}}
    {{> view/user_profile/filters}}
    {{> view/user_profile/reviews reviews=reviews isOwnProfile=isOwnProfile}}
    {{> view/user_profile/comments comments=comments isOwnProfile=isOwnProfile}}
    {{> view/user_profile/restaurant restaurants=restaurants isOwnProfile=isOwnProfile}}
</div>

{{> footer}}
