<div class="horizontalAlignment" style="gap: 1vh; margin: 55px;">

    {{!-- Used clear-btn css for now --}}
    <button class="clear-btn" id="set-btn" style="background-color: var(--blue1);">Set Filters</button> 

    <div class="dropdown" id="filterFood-btn">
        <div class="horizontalAlignment">
            <button class="dropdown-btn">
                Food Type
                <img src="https://static.vecteezy.com/system/resources/previews/014/455/895/non_2x/down-arrow-icon-on-transparent-background-free-png.png" height="10vh" width="10vh">
            </button>
            <div class="dropdown-content">
                <p>Food Type: Any</p>
                <p>Food Type: American Food</p>
                <p>Food Type: Italian Food</p>
                <p>Food Type: Japanese Food</p>
                <p>Food Type: Mexican Food</p>
                <p>Food Type: Chinese Food</p>
            </div>
        </div>
    </div>
    
    <div class="dropdown" id="filterRating-btn">
        <div class="horizontalAlignment">
            <button class="dropdown-btn">
                Average Rating
                <img src="https://static.vecteezy.com/system/resources/previews/014/455/895/non_2x/down-arrow-icon-on-transparent-background-free-png.png" height="10vh" width="10vh">
            </button>
            <div class="dropdown-content">
                <p>Average Rating: 5.0</p>
                <p>Average Rating: 4.0</p>
                <p>Average Rating: 3.0</p>
                <p>Average Rating: 2.0</p>
                <p>Average Rating: 1.0</p>
            </div>
        </div>
    </div>

    <div class="dropdown" id="filterPrice-btn">
        <div class="horizontalAlignment">
            <button class="dropdown-btn">
                Pricing
                <img src="https://static.vecteezy.com/system/resources/previews/014/455/895/non_2x/down-arrow-icon-on-transparent-background-free-png.png" height="10vh" width="10vh">
            </button>
            <div class="dropdown-content">
                <p>Price: 0 - 200.00</p>
                <p>Price: 200.00 - 400.00</p>
                <p>Price: 400.00 - 600.00</p>
                <p>Price: 600.00 - 800.00</p>
                <p>Price: 800.00 +</p>
            </div>
        </div>
    </div>

    <button class="clear-btn" id="clear-btn" onclick="location.reload()">Clear Filters</button>

</div>