<div class="horizontalAlignment" style="gap: 1vh; margin: 55px;">

    <button class="clear-btn" id="clear-btn">Clear Filters</button>

    <div class="dropdown" id="filterFood-btn">
        <div class="horizontalAlignment">
            <button class="dropdown-btn">
                Type of Food
                <img src="https://static.vecteezy.com/system/resources/previews/014/455/895/non_2x/down-arrow-icon-on-transparent-background-free-png.png" height="10vh" width="10vh">
            </button>
            <div class="dropdown-content">
                <p>Any</p>
                <p>American Food</p>
                <p>Italian Food</p>
                <p>Japanese Food</p>
                <p>Mexican Food</p>
                <p>Chinese Food</p>
            </div>
        </div>
    </div>
    
    <div class="dropdown" id="filterRating-btn">
        <div class="horizontalAlignment">
            <button class="dropdown-btn">
                Average Rating
                <img src="https://static.vecteezy.com/system/resources/previews/014/455/895/non_2x/down-arrow-icon-on-transparent-background-free-png.png" height="10vh" width="10vh">
            </button>
            <div class="dropdown-content">
                <p>5</p>
                <p>4</p>
                <p>3</p>
                <p>2</p>
                <p>1</p>
            </div>
        </div>
    </div>

    <div class="dropdown" id="filterPrice-btn">
        <div class="horizontalAlignment">
            <button class="dropdown-btn">
                Pricing
                <img src="https://static.vecteezy.com/system/resources/previews/014/455/895/non_2x/down-arrow-icon-on-transparent-background-free-png.png" height="10vh" width="10vh">
            </button>
            <div class="dropdown-content">
                <p>0 - 200</p>
                <p>200 - 400</p>
                <p>400 - 600</p>
                <p>600 - 800</p>
                <p>800 +</p>
            </div>
        </div>
    </div>

</div>