<div class="headerViewEstablishments">
    {{#if hasQuery}}
        <h1 class="headerYellowColor">Searching for "{{searchQuery}}"</h1>
    {{else}}
        <h1 class="headerYellowColor">Look for what's next for you and your stomach!</h1>
    {{/if}}
    {{> search_bar}}
</div>