<div class="profile-container">
    <div class="profile-pic-container">
        <div class="profile-img-wrapper">
        <img src="/common/user-icon.png" alt="Profile Image" class="profile-img">
        </div>
        <div class="image-delete-container button-container-attributes">
            <button class="btn"><img src="/common/picture-icon.png" width="15px" height="15px"></button>
            <div class="divider"></div>
            <button class="btn"><img src="/common/delete-icon.png" width="15px" height="15px"></button>
        </div>
    </div>

    <div class="editprofile-section">
        <div class="name-group">
            <input type="text" placeholder="First Name*" required>
            <input type="text" placeholder="Last Name*" required>
        </div>
        <input type="text" placeholder="Username*" required>

        <div class="bio-box">
            <textarea id="bio" maxlength="1500" placeholder="Biography"></textarea>
            <span class="char-counter" id="char-counter">0/1500</span>
        </div>

        <div class="buttons">
            <button class="cancel-btn" onclick="history.back()">Cancel</button>
            <button class="save-btn" onclick="window.location.href='/imuserone'">Save Changes</button>
        </div>
    </div>

    {{!-- <!--Profile Details-->
    <div class="profile-details-container">
        <div class="profile-form-container">
            <form action="#" method="POST">
                <div class="name-group">
                    <div>
                        <h2>First Name</h2>
                        <input type="text" id="first-name" placeholder="First Name" required>
                    </div>
                    <div>
                        <h2>Last Name</h2>
                        <input type="text" id="last-name" placeholder="Last Name" required>
                    </div>
                </div>

                <div class="short-form">
                    <h2>Username</h2>
                    <input type="text" id="username" placeholder="Username" required>
                </div>

                <div class="bio-box">
                    <h2>Biography</h2>
                    <textarea id="bio" maxlength="1500" placeholder="Biography"></textarea>
                </div>
                
            </form>
        </div>
    </div> --}}
</div>