<div class="prof-profile-container">
    <img src="/common/user-icon.png" alt="Profile Picture" class="prof-profile-pic">
    <div class="prof-profile-info"> 
        <div class="prof-profile-details">
            <h2>{{selected.name}}<span class="prof-username">@{{selected.username}}</span></h2>
        </div>
        <p class="prof-bio">this is my bio :)</p>
        <button class="editprofile-btn" onclick="window.location.href='/edit/profile'"><img src="/common/edit-icon-white.png" alt="Edit Profile" class="prof-edit-icon-white">Edit Profile</button>
    </div>
</div>