<div class="prof-navigation-container">
    <button class="prof-nav-link active" data-section="reviews">Reviews</button>
    <button class="prof-nav-link" data-section="comments">Comments</button>
    <button class="prof-nav-link" data-section="restaurant">Restaurant</button>
</div>