<div class="prof-navigation-container">
    <button class="prof-nav-link active">Reviews</button>
    <button class="prof-nav-link">Comments</button>
    <button class="prof-nav-link">Restaurants</button>
</div>