<div id="reg-page-2" style="display: none;">
    <div class="select-pic-container">
        <div class="dropdown">
            <button class="dropdown-btn" id="image-select">
                <img src="/common/pfp-1.png" height="100vh" width="100vh" style="border-radius: 10px;">
            </button>
            <div class="dropdown-content" style="min-width: 0px;">
                <div class="dropdown-option">
                    <img src="/common/pfp-1.png" height="100vh" width="100vh">
                </div>
                <div class="dropdown-option">
                    <img src="/common/pfp-2.png" height="100vh" width="100vh">
                </div>
                <div class="dropdown-option">
                    <img src="/common/pfp-3.png" height="100vh" width="100vh">
                </div>
            </div>
        </div>
    </div>

    <div class="bio-box">
        <textarea id="bio" maxlength="1500" placeholder="Biography"></textarea>
        <span class="char-counter" id="char-counter">0/1500</span>
    </div>

    <div class="buttons">
        <button class="prev-btn">Previous</button>
        <button class="signup-btn" onclick="window.location.href='/'">Sign Up</button>
    </div>
</div>