<div id="reg-page-2" style="display: none;">
    <div class="upload-pic-container">
        <div class="upload-container">
            <label class="upload-box">
                <input type="file" id="file-input" accept="image/*">
                <img id="profile-image" src="">
                <span class="plus">+</span>
            </label>
            <div class="upload-label">
                <span>Upload Your Profile Picture</span>
                <span class="max-size">(Max: 50 MB)</span>
            </div>
        </div>
    </div>

    <div class="bio-box">
        <textarea id="bio" maxlength="1500" placeholder="Biography"></textarea>
        <span class="char-counter" id="char-counter">0/1500</span>
    </div>

    <div class="buttons">
        <button class="prev-btn">Previous</button>
        <button class="signup-btn" onclick="window.location.href='/'">Sign Up</button>
    </div>
</div>