<div id="reg-page-1">
    <input type="text" placeholder="Email Address*" required>
    <div class="name-group">
        <input type="text" placeholder="First Name*" required>
        <input type="text" placeholder="Last Name*" required>
    </div>
    <input type="text" placeholder="Username*" required>
    <input type="password" placeholder="Password*" required>
    <input type="password" placeholder="Confirm Password*" required>
    
    <div class="reg-container">
        <button class="next-btn">Next</button>
    </div>
</div>