<section class="about-section">
<div class="about-background">
    <div class="about-container">
        <div class="about-heading-container">
            <h1>Group Members</h1>
        </div>
        <p>Johan Daniel Ang</p>
        <p>Ethan Axl Burayag</p>
        <p>Martina Mari Andaya</p>
        <p>Richard Jeremy Limtin</p>
    </div>
</div>
</section>