<section class="about-section" style="padding-bottom: 30px;">
<div class="about-background">
    <div class="about-container">
        <div class="about-heading-container">
            <h1>References</h1>
        </div>
        <p>https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTR-NPHImp9IKWDH7P_78uFrMGz03fJ9sAQzw&s</p>
        <p>https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcsWdwBbZU0v9tGoPI10dreIAcggS9QVZIRg&s</p>
        <p>https://i.ytimg.com/vi/VWXQ2D1OTF4/sddefault.jpg</p>
    </div>
</div>
</section>