<section class="about-section" style="padding-bottom: 30px;">
<div class="about-background">
    <div class="about-container">
        <div class="about-heading-container">
            <h1>References</h1>
        </div>
        <p>https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTR-NPHImp9IKWDH7P_78uFrMGz03fJ9sAQzw&s</p>
        <p>https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcsWdwBbZU0v9tGoPI10dreIAcggS9QVZIRg&s</p>
        <p>https://i.pinimg.com/236x/a8/0b/fc/a80bfc2010f66018e7121e592ac9f03c.jpg</p>
        <p>https://i.pinimg.com/236x/2e/57/5d/2e575db1253ad1105727bc839cadcd39.jpg</p>
        <p>https://i.pinimg.com/236x/22/d0/dd/22d0dd7524027c8a1a03dd554eed9951.jpg</p>
        <p>https://www.reddit.com/r/AnimalCrossing/comments/tvoy6y/oc_made_some_endless_pattern_wallpapers_feel_free/#lightbox</p>
        <p>https://i.ytimg.com/vi/VWXQ2D1OTF4/sddefault.jpg</p>
    </div>
</div>
</section>