<div class="whole-body-container">
    <div class="left-section">
        <div class="login-container">
            <h2>Log In</h2>
            <form action="/users/login" method="POST" id="login-form">
                <input type="email" id="log-email" name="email_address" placeholder="Email Address *" value="{{formData.email_address}}" required>
                <input type="password" id="log-password" name="password" placeholder="Password *" value="{{formData.password}}" required>
    
            <div class="checkbox">
                <input type="checkbox" id="remember" name="remember">
                <label for="remember">Remember me</label>
            </div>
            <button class="login-btn">Log in</button>
</form>
        </div>
    </div>
    <div class="right-section"></div>
</div>